body {
    background: linear-gradient(to right, #f7b733, #fc4a1a);
    background-size: cover;
    background-position: center;
    color: white;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../../assets/background-image.jpg');
    background-size: cover;
    background-position: center;
    z-index: -100;
  }  

.quote-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: auto;
    padding: 40px;
    box-shadow: 0px 10px 30px 0px rgba(0, 0, 0, 0.2);
    margin-top: 50px;
    background-color:#AFD3E2; /* semi-transparent white */
    border-radius: 15px;
    transition: transform 0.2s;
}

.quote-container:hover {
    transform: scale(1.01);
}

.quote-text {
    font-size: 28px;
    text-align: center;
    line-height: 1.5;
    color: #111; /* darker color for better contrast */
    margin-bottom: 30px;
    font-family: "Georgia", serif;
    transition: color 0.2s; /* smooth color transition */
}

.quote-text:hover {
    color: #fc4a1a; /* same color as the gradient in the body */
}

.quote-author {
    font-size: 22px;
    text-align: right;
    color: #333; /* darker color for better contrast */
    font-style: italic;
    font-family: "Times New Roman", serif;
    transition: color 0.2s; /* smooth color transition */
}

.quote-author:hover {
    color: #fc4a1a; /* same color as the gradient in the body */
}

.new-quote-button {
    padding: 15px 25px;
    font-size: 20px;
    color: white;
    background-color: blue; /* a fresh green */
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s;
    font-family: "Arial", sans-serif;
}

.new-quote-button:hover {
    background-color: #f44336; /* turns red on hover */
    transform: scale(1.05);
}
